{% extends "base.html" %}
{% load static %}
{% block content %}

   

    <h1 style="text-align: center"><u>About us</u></h1>

   <br>

    <p style="text-align: center">"Welcome to our medicine website! We offer a wide range of prescription and OTC medications, with expert advice from our pharmacists. We prioritize convenience and affordability, with free shipping and competitive prices. Our team is dedicated to providing the best customer service and accurate, up-to-date product information. Thank you for choosing us for your healthcare needs."</p>
  
    <br>


{%endblock%}